*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none; 
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

img {
    max-width: 100%;
}

:root {
    /*Colores interfaz*/
    --primario: #AB68FF;
    --secundario: #F0CC00; 
    --oscuro: #191221;
    --medio-oscuro: #311F47;
    --medio: #4B4158;
    --claro: #72677E; 
    --fondo: #EEE3FC; 
    --blanquesino: #F9F5FF;
    --blanco: #FFFFFF; 
}

/*Agregamos los estilos de celular*/
.main{
    overflow: hidden;
    padding: 24px;
}


.banner {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: ;

    .usuario {
        background-color: var(--fondo);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem; 
        padding: 20px;
    
        img {
            width: 120px; 
            height: 120px;
            object-fit: cover;
            border-radius: 50%;
        }
    
        .datos {
            display: flex;
            flex-direction: column;
            gap: 16px;
    
           .datos__nombre {
                display: flex;
                flex-direction: column;
                gap: 8px;
    
                h1 {
                    font-size: 24px;
                    text-align: center;
                    color: var(--medio-oscuro);
                }
    
                p {
                    font-size: 16px;
                    text-align: center;
                    color: var(--medio-oscuro);
                }
    
            }
    
            .datos__icons {
                display: flex;
                justify-content: center;
                gap: 16px;
    
                a{
                    font-size: 24px;
                    line-height: 24px;
                    color: var(--medio-oscuro);
                }
    
                a:hover {
                    color: var(--primario)
                }
            }
    
            .datos__cv {
                display: flex;
                justify-content: center;
    
                a {
                    background-color: var(--primario);
                    padding: 8px 16px;
                    border-radius: 8px;
                    color: var(--blanco);
                    font-weight: 500;
                    width: max-content;
                }
    
                a:hover {
                    color: var(--medio-oscuro)
                    background-color: var(--secundario);
                }
            }
        }
    }

    .titular {
        display: flex;
        flex-direction: column;
        gap: 8px;

        p {
            text-align: center;
            color: var(--medio-oscuro);
            font-size: 16px;
        }

        h2 {
            text-align: center;
            color: var(--medio-oscuro);
            font-size: 20px;
        }
    }
}

.proyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px; 

    
}

.card {
    background-color: var(--fondo);
    border-radius: 16px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    img {
        width: 100%;
        height: 95px;
        object-fit: cover;
        border-radius: 8px;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h2{
            font-size: 16px;
            text-align: center;
            color:var(--medio-oscuro)
        }

        p{
            font-size: 12px;
            text-align: center;
            color: var(--medio);
        }



    }

    a {
        background-color: var(--primario);
        font-size: 16px;
        padding: 4px 12px;
        border-radius: 8px;
        color: var(--blanco);
        width: 100%;
        text-align: center;
        min-width: max-content;
    }

    a:hover {
        background-color: var(--secundario);
        color: var(--medio-oscuro);
    }
}



/*Agregamos los estilos en modo escritorio*/
@media screen and (min-width: 1024px){

    .main {
        padding: 64px;
    }

    .banner {
        background-color: var(--fondo) ;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 24px;
        padding: 32px;

        .usuario {
            padding: 0px;
            flex-direction: row;
            background-color: inherit;
            border-radius: 0px;
            border-right: ;
            padding-right: 64px;
            margin-right: 64px;
            border: 1px solid var(--claro);
    
            img {
                width: 180px;
                height: 180px;
            }
    
    
            .datos {
    
                .datos__nombre {
    
                    h1 {
                        text-align: left;
                        font-size: 32px;
                    }
    
                    p{
                        text-align: left;
                        font-size: 20px;
                    }
                }
    
                .datos__icons {
                    justify-content: flex-start;
                }
    
                .datos__cv
                    justify-content: flex-start;
    
                    a {
                    font-size: 16px;
                    }
            }
        }

        .titular {
            display: flex;
            gap: 8px;
            flex-direction: column;

            p {
                font-size: 20px;
                color: var(--medio-oscuro);
                text-align: left;
            }

            h2{
                font-size: 32px;
                color: var(--medio-oscuro);
                text-align: left;
            }
        }
    }

    .proyectos {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px; 

        .card {
            background-color: var(--fondo);
            border-radius: 24px;
            padding: 20px;
            gap: 24px;
        
            img {
                width: 100%;
                height: inherit;
                aspect-ratio: 4 / 2.5;
                border-radius: 12px;
            }
        
            .info {
                gap: 16px;
        
                h2{
                    font-size: 20px;
                }
        
                p{
                    font-size: 16px;
                }
        
        
        
            }
        
            a {
                font-size: 20px;
                padding: 16px 32px;
                border-radius: 12px;
                width: max-content;
            }

        }
    }

    
    

   
}